:root {
    --primary: #DB504A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.app {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.content {
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
}

.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px;
    background-color: var(--primary);
}

.header h1 {
    color: #ffffff;
}

/* Create form */
.create-form {
    display: grid;
    grid-template-columns: auto 60px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.create-form .create-form__text {
    border: none;
    font-size: 1.5em;
    padding: 10px;
    outline: none;
}

.create-form .create-form__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    color: #c5c5c5;
    outline: none;
    cursor: pointer;
}

.create-form .create-form__submit:hover {
    color: #acacac;
}

.create-form .create-form__submit .material-icons {
    font-size: 2.5em;
}

/* Task list */
.task__list {
    list-style: none;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.task__item {
    display: grid;
    grid-template-columns: 60px auto 60px;
    height: 60px;
}

.task__text {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    color: #c5c5c5;
    outline: none;
    cursor: pointer;
}

.task__remove:hover {
    color: #acacac;
}

.task__toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.task__toggle .material-icons {
    border: 2px solid var(--primary);
    border-radius: 10em;
    color: transparent;
    transition: background-color 150ms ease, color 150ms ease;
    user-select: none;
}

.task__toggle input {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.task__toggle input:checked + .material-icons {
    background-color: var(--primary);
    color: #ffffff;
}